<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
      <link rel="stylesheet" href="/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="/css/styles.css"/>
  </head>
  <body>
    <header th:replace="/fragments/commons :: nav"></header>
    <form class="login" th:action="@{/users/login}" th:method="post">
        <div class="form-group">
            <div class="label-holder">
                <label for="username" class="username">Username</label>
            </div>
            <input type="text"
                   class="form-control"
                   required minlength="4" maxlength="20"
                   id="username"
                   name="username"/>
        </div>

        <div class="form-group">
            <div class="label-holder">
                <label for="password" class="password" >Password</label>
            </div>
            <input
                    type="password"
                    class="form-control"
                    required minlength="5"
                    id="password"
                    name="password"/>
        </div>
        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="loginbtn" value="Login">Login</button>
        </div>
    </form>
    </body>
    </html>