<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stack</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header th:replace="/fragments/commons :: nav"></header>

    <section>
        <h2 class="subtitle"></h2>
        <a href="https://en.wikipedia.org/wiki/Java_(programming_language)">
            <h2>JAVA</h2>
        </a>
        <a href="https://en.wikipedia.org/wiki/HTML">
            <h2>HTML</h2>
        </a>
        <a href="https://en.wikipedia.org/wiki/CSS">
            <h2>CSS</h2>
        </a>
        <a href="https://de.wikipedia.org/wiki/Spring_(Framework)">
            <h2>Spring</h2>
        </a>
        <a href="https://en.wikipedia.org/wiki/Database">
            <h2>Database Management</h2>
        </a>

    </section>

    <footer>
        <ul>
            <a href="https://www.facebook.com/profile.php?id=100002554089252">
                <li>Facebook</li>
            </a>
            <a href="https://github.com/NikiRaykov">
                <li>GitHub</li>
            </a>
            <a href="https://www.linkedin.com/in/niki-raykov-05a83720b/">
                <li>LinkedIn</li>
            </a>
        </ul>
    </footer>
</body>
</html>